
   #icon {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  h2 {
    pointer-events: none;
  }
  
  
  /* .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  .container .card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
  }
  .container .card:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;
  }
  .container .card:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;
  }
  
  .container .card h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
  }
  .container .card .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
  }
  .container .card .to {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 0;
    color: #000000;
    opacity: 0.7;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .container .card .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .container .card .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .container .card .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .container .card .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .container .card:hover #icon {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    font-size: 2rem;

  }
  .container .card button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #DA4D1D;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
  }
  .container .card button i {
    font-size: 3rem;
  }
  .container .card:hover button {
    transform: scale(16.5);
  }
  .container .card:hover p {
    color: #fff;
  }
  
  .container .card2 button {
      background-color: #534fc5;
    }
    .container .card .Drum {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://m.media-amazon.com/images/M/MV5BYzA1ZGY2MzItMzI4Ni00YjM3LThhNmEtNTE1NWRmMmVmMjhmXkEyXkFqcGdeQXVyNjYwMjkwMjg@._V1_.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
    }
    .container .card2 .Drum {
        background-image: url("https://m.media-amazon.com/images/M/MV5BYzA1ZGY2MzItMzI4Ni00YjM3LThhNmEtNTE1NWRmMmVmMjhmXkEyXkFqcGdeQXVyNjYwMjkwMjg@._V1_.jpg");
    }
    .container .card:hover .Drum {
      filter: grayscale(0);
    }
    
    .container .card .Dressrosa {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://m.media-amazon.com/images/M/MV5BOTMyMjI1YTQtOThhNC00ODI2LWI5OTEtYWFiMGUzMTg5OWE4XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
      }
    .container .card2 .Dressrosa {
        background-image: url("https://m.media-amazon.com/images/M/MV5BOTMyMjI1YTQtOThhNC00ODI2LWI5OTEtYWFiMGUzMTg5OWE4XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_.jpg");
      }
      .container .card:hover .Dressrosa {
        filter: grayscale(0);
      }

      
      .container .card .Wa-no-Kuni {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://m.media-amazon.com/images/M/MV5BODkzMjE2ZmEtYzlmOS00ZTYzLWE5MjQtMTI4NTk3MDc3NWI0XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
      }
    .container .card2 .Wa-no-Kuni {
        background-image: url("https://m.media-amazon.com/images/M/MV5BODkzMjE2ZmEtYzlmOS00ZTYzLWE5MjQtMTI4NTk3MDc3NWI0XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_.jpg");
      }
      .container .card:hover .Wa-no-Kuni {
        filter: grayscale(0);
      }
      
      .container .card .Water-Seven {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://2img.net/h/img110.xooimage.com/files/b/d/6/1-4fe6718.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
      }
    .container .card2 .Water-Seven {
        background-image: url("https://2img.net/h/img110.xooimage.com/files/b/d/6/1-4fe6718.jpg");
      }
      .container .card:hover .Water-Seven {
        filter: grayscale(0);
      }
      .container .card .Kokoyashi {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://i.servimg.com/u/f19/15/08/91/65/kokoya10.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
      }
    .container .card2 .Kokoyashi {
        background-image: url("https://i.servimg.com/u/f19/15/08/91/65/kokoya10.jpg");
      }
      .container .card:hover .Kokoyashi {
        filter: grayscale(0);
      }
      .container .card .Amazon-Lily {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-image: url("https://pm1.narvii.com/7310/188bffbd6283aefb030b1b12c2b7b2f2288af9ebr1-500-281v2_hq.jpg");
        background-size: 100% 100%;
        filter: grayscale(100%);
      }
    .container .card2 .Amazon-Lily {
        background-image: url("https://pm1.narvii.com/7310/188bffbd6283aefb030b1b12c2b7b2f2288af9ebr1-500-281v2_hq.jpg");
      }
      .container .card:hover .Amazon-Lily {
        filter: grayscale(0);
      }